
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="home">
    <div class="container">
        <div class="text-center">
            <div class="title">
                <i>Welcome to our studio!</i>
                <h1>It's nice to meet you</h1>
                <button class="btn">Tell Me More</button>
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="services-head text-center">
            <h1>SERVICES</h1>
            <i>Proin iacilus purus consequat sem cure</i>
        </div>
        <div class="services-content">
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="~/PNG/1-ECommerce.png" class="img-fluid">
                    <h3>E-Commerce</h3>
                    <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
                </div>
                <div class="col-md-4">
                    <img src="~/PNG/2-ResponsiveWeb.png" class="img-fluid">
                    <h3>Responsive Web</h3>
                    <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
                </div>
                <div class="col-md-4">
                    <img src="~/PNG/3-WebSecurity.png" class="img-fluid">
                    <h3>Web Security</h3>
                    <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="ourPortfolio">
    <div class="container">
        <div class="text-center">
            <div class="our-head">
                <h1>OUR PORTFOLIO</h1>
                <i>Proin iacilus purus consequat sem cure</i>
            </div>
            <div class="our-content">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col-md-4">
                        <div class="card h-100">
                            <img src="~/PNG/Image1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Ebony & Ivory</h5>
                                <i class="card-text text-muted">Branding</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card h-100">
                            <img src="~/PNG/Image2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Smart Stationary</h5>
                                <i class="card-text text-muted">Print Design</i>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card h-100">
                            <img src="~/PNG/Image3.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Clever Poster</h5>
                                <i class="card-text text-muted">Clever Poster</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col-md-4">
                        <div class="card h-100">
                            <img src="~/PNG/Image4.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Vinyl Record</h5>
                                <i class="card-text text-muted">Product Mock Up</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card h-100">
                            <img src="~/PNG/Image5.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Treehouse Template</h5>
                                <i class="card-text text-muted">Web Design</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card h-100">
                            <img src="~/PNG/Image6.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Burned Logo</h5>
                                <i class="card-text text-muted">Branding</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="aboutUs">
    <div class="container">
        <div class="row text-center">
            <div class="about-us-head">
                <h1>ABOUT US</h1>
                <i>Proin iacilus purus consequat sem cure</i>
            </div>
            <div class="about-us-content">
                <div class="row">
                    <div class="col-md-4 text-right">
                        <h3>JULY 2010</h3>
                        <h3>Facing Startup Battles</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet venenatis justo. Maecenas felis tellus, posuere quis diam in, lacinia ornare sapien.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img src="~/PNG/Image7.png" class="img-fluid">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <img src="~/PNG/Image8.png" class="img-fluid">
                    </div>
                    <div class="col-md-4 text-left">
                        <h3>JANUARY 2011</h3>
                        <h3>Facing Startup Battles</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet venenatis justo. Maecenas felis tellus, posuere quis diam in, lacinia ornare sapien.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right">
                        <h3>DECEMBER 2012</h3>
                        <h3>Enter The Dark Days</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet venenatis justo. Maecenas felis tellus, posuere quis diam in, lacinia ornare sapien.
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <img src="~/PNG/Image9.png" class="img-fluid">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <img src="~/PNG/Image10.png" class="img-fluid">
                    </div>
                    <div class="col-md-4 text-left">
                        <h3>February 2014</h3>
                        <h3>Our Triumph</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet venenatis justo. Maecenas felis tellus, posuere quis diam in, lacinia ornare sapien.
                        </p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-4 offset-md-4">
                        <img src="~/PNG/OurStoryContinues.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="ourAmazingTeam">
    <div class="container">
        <div class="our-head text-center">
            <h1>OUR AMAZING TEAM</h1>
            <i>Proin iacilus purus consequat sem cure</i>
        </div>
        <div class="our-content">
            <div class="row text-center">
                <div class="col-sm-4">
                    <img src="~/PNG/sena1.png" class="img-fluid">
                    <h3>Kimberly Thompson</h3>
                    <h6>
                        Marketer
                    </h6>
                    <img src="~/PNG/Social-Hover.png" class="img-fluid">
                </div>
                <div class="col-sm-4">
                    <img src="~/PNG/sena2.png" class="img-fluid">
                    <h3>Rico Massimo</h3>
                    <h6>
                        Coder
                    </h6>
                    <img src="~/PNG/Social-Hover2.png" class="img-fluid">
                </div>
                <div class="col-sm-4 ">
                    <img src="~/PNG/sena3.png" class="img-fluid">
                    <h3>Uku Mason</h3>
                    <h6>
                        Graphic Designer
                    </h6>
                    <img src="~/PNG/Social-Hover3.png" class="img-fluid">
                </div>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet venenatis justo. Maecenas felis tellus, posuere quis diam in, lacinia ornare sapien.
                </p>
            </div>
        </div>
    </div>
</section>